<link rel="stylesheet" href="/assets/css/styles.css">

<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="social-media-list">
                    <li class="username">Powered by<a href="https://github.com/HulkHaoke"><svg class="svg-icon" ><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">HulkHaoke</span></a></li>
                </ul>  
            </div>
        </div>
    </div>
</footer>